.App {
  font-size: 3rem;
  min-height: 100vh;

  main {
    margin-top: 5rem;
    height: fit-content;
  }
}

.line-break {
  border: 2px dashed #140bc3;
}

.create-budget-form {
  border: 2px dotted black;
  border-radius: 4px;
}

.intro-image {
  filter: drop-shadow(0px 1px 7px #ffffff);
}
